---
import styles from "./CanHelp.module.css";
import type { LanguageCode } from "../../types";
import { CanHelp_Text } from "../../constantsText";

interface Props {
  locale: LanguageCode;
}

const { locale = "en" } = Astro.props;
---

<section class={styles.wrapper}>
  <div class={styles.innerWrapper}>
    <h2>{CanHelp_Text.headline[locale]}</h2>
    <ul>
      {
        CanHelp_Text.list.map((l) => {
          return (
            <li>
              <span class={styles.checkCircle}>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="3"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <polyline points="20 6 9 17 4 12" />
                </svg>
              </span>
              {l[locale]}
            </li>
          );
        })
      }
    </ul>
  </div>
</section>
