---
import styles from "./Hero.module.css";
import type { LanguageCode } from "../../types";
import { Hero_Text } from "../../constantsText";

interface Props {
  locale: LanguageCode;
}

const { locale = "en" } = Astro.props;
console.log(locale);
---

<section class={styles.wrapper}>
  <div class={styles.innerWrapper}>
    <div class={styles.textWrapper}>
      <h1>{Hero_Text.heroText[locale]}</h1>
      <h2>{Hero_Text.nameText[locale]}</h2>
    </div>
    <div class={styles.imageContainer}>
      <img src="/images/heroBkg.webp" alt="" class={styles.heroImage} />
    </div>
  </div>
</section>
