---
import styles from "./Header.module.css";
import LanguageSwitcher from "../LanguageSwitcher/LanguageSwitcher.astro";
import type { LanguageCode } from "../../types";
import { navItems } from "../../constantsText";

interface Props {
  locale: LanguageCode;
}

const { locale = "en" } = Astro.props;
---

<header class={styles.wrapper}>
  <div class={styles.container}>
    <LanguageSwitcher locale={locale} />
    <nav class={styles.nav}>
      <ul class={styles.navList}>
        {
          navItems.map((item) => (
            <li>
              <a href={item.href}>{item.titles[locale]}</a>
            </li>
          ))
        }
      </ul>
    </nav>
  </div>
</header>
